
.raajteja1 {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}
.skillsimages {
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  filter: drop-shadow(2px 4px 6px #0d0e0e) ;
}
.tejaimage {
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  filter: drop-shadow(2px 4px 6px #0d0e0e) ;
}
.feedbackimages {
  width: 100px;
  height: 150px;
  filter: drop-shadow(2px 4px 6px #1d262d);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.exptext {
  filter: drop-shadow(1px 2px 0px #ee0511) ;
}
.feedbacktext {
  filter: drop-shadow(1px 2px 5px rgb(0, 0, 0)) ;
}
h5 {
  margin-top: 8px;
}
.pickupline {
  background-color: #1d262d;
  border-radius: 10px;
}
.bottom-component {
  bottom: 0;
}
.feedbackcarousel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  background-color:#1d262d;
  color: #fff;
  margin: 0 15px;
  font-size: 1em;
  border-radius: 10px;
}
small {
 position: absolute;
 bottom: 5px;
 color: white;

}
.rec-arrow.rec-arrow-left {
  background : none;
  color: white;
}

.rec-arrow.rec-arrow-right {
  background : none;
  color: white;
}
.plusimage{
  position: relative;
  cursor: pointer;
  width: 5%;
  height: auto;
  float: right;
  margin-top: -30px;
  background-color: white;
  border-radius: 10px;
}
.summary {
  color: white;
  font-size: 20px;
}
.mobilefeedback{
  display: none;
}
@media (max-width: 576px) {
  .feedbackcarousel.feedbackimages {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .plusimage{
    position: relative;
    cursor: pointer;
    width: 9%;
    height: auto;
    float: right;
    margin-top: -30px;
    background-color: white;
    border-radius: 10px;
  }
  .plussize {
    width: 4%;
    height: 4%;
  }
  .summary {
    color: white;
    font-size: 17px;
  }
  .mobilefeedback{
    display: contents;
  }
}
@media (max-width: 767px) {
  .raajteja1 {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 300px;
    margin-inline: 0px;
    border-radius: 10px;
  }
  .skillsimages {
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 4px 6px #0d0e0e) ;
  }
  .skillstext {
    font-size: 10px;
  }
  .summary {
    color: white;
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  /* Styles for desktop */
  .raajteja1 {
    width: 450px;
    height: 300px;
    float: right;
    margin-inline: -12px;
  }
}

@media (max-width: 767px) {
  /* Styles for mobile */
  .raajteja1 {
    width: 100%;
    height: auto;
    float: none;
    margin-inline: 0;
  }
}
