.custom-close-button button.close {
    color: rgb(253, 253, 253);
  }
.plusimage {
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  filter: drop-shadow(2px 4px 6px black) ;
}
.roletext {
  filter: drop-shadow(1px 2px 0px #be1a22) ;
}

@media (max-width: 576px) {
  .feedbackcarousel {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .feedbackcarousel .feedbackimages {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .card-title {
    float: none;
    margin-bottom: 10px;
  }
}
